<!DOCTYPE html>
<html>
<body>
<div id="app">
    <div id="menu">
        <div id="entities">
            <div v-for="entity in entities">
                <div class="entity">
                    <span v-on:click="toggleEntity(entity.id);">
                        <i class="far fa-eye" v-if="entity.visible"></i>
                        <i class="far fa-eye-slash" v-if="entity.visible == false"></i>
                    </span>
                    <i class="far fa-folder" v-if="entity.type == 'Container'"></i>
                    <span v-on:click="selectEntity(entity.id);">{{entity.name}}</span>
                </div>
            </div>
        </div>
        <div class="btn-group btn-group-sm position-absolute fixed-bottom" role="group" aria-label="New layer">
            <button class="btn btn-secondary" onclick="OpenDnd.newLayer();"><i class="far fa-folder"></i></button>
            <button class="btn btn-secondary" onclick="OpenDnd.newEntity();"><i class="far fa-file"></i></button>
        </div>
    </div>
        <div id="entity-details" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{currentEntity.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>